@layer base {
  html,
  body {
    height: 100%;
  }
}

@layer components {

  .fixed_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }

  .home {
    background-image: url("../img/main_bg.jpg");
  }

  .top-menu {

    a {
      @apply
        border-b-2
        border-transparent
        transition
        duration-500
        inline-block
        pb-[.2rem];
    }

    a:hover {
      @apply border-stone-400
    }
  }
}