@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    height: 100%;
  }
  main {
    @apply leading-relaxed;
  }
}
@layer components {
  .fixed_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .home {
    background-image: url("../img/main_bg.jpg");
  }
  .top-menu {
    @apply w-full
      lg:my-11
      px-8 lg:px-0
      absolute lg:static top-11 left-0;
  }
  .top-menu button .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .top-menu button .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5;
    stroke-linecap: round;
  }
  .top-menu button .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .top-menu button .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .top-menu button .ham2 .top {
    stroke-dasharray: 40 121;
  }
  .top-menu.active .ham1 .bottom {
    stroke-dashoffset: -138px;
  }
  .top-menu.active .ham1 .top {
    stroke-dashoffset: -98px;
  }
  .top-menu.active .hamRotate {
    transform: rotate(45deg);
  }
  .top-menu.active .hamRotate180 {
    transform: rotate(180deg);
  }
  .top-menu.active ul {
    @apply block;
  }
  .top-menu ul {
    @apply whitespace-nowrap
        lg:flex hidden justify-center gap-9;
  }
  .top-menu a {
    @apply border-b-2 border-transparent
        rounded
        transition
        duration-500
        block lg:inline-block
        mr-10 mb-[1px] lg:m-0
        text-xl lg:text-base
        py-2 px-4 lg:px-1 lg:pb-[.2rem] lg:pt-0
        bg-neutral-800/[.9] lg:bg-transparent;
  }
  .top-menu a:hover,
  .top-menu a.active {
    @apply lg:border-stone-400
        bg-neutral-800  lg:bg-transparent;
  }
  .top-menu a:active {
    @apply bg-stone-400;
  }
}