@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html,
  body {
    height: 100%;
  }
}
@layer components {
  .fixed_bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
  }
  .home {
    background-image: url("../img/main_bg.jpg");
  }
  h1 {
    @apply md:text-6xl text-4xl
        font-head
        mt-8 lg:mt-16 mb-11;
  }
  main {
    @apply leading-relaxed;
  }
  .main-container {
    @apply max-w-[1053px]
        mx-auto
        px-8 lg:px-0 pt-14 lg:pt-0
        min-h-screen
        flex flex-col;
  }
  .top-menu {
    @apply w-full
        lg:my-11
        px-8 lg:px-0
        z-10
        absolute lg:static top-3 left-0;
  }
  .top-menu button .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .top-menu button .line {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #fff;
    stroke-width: 5;
    stroke-linecap: square;
  }
  .top-menu button .ham1 .top {
    stroke-dasharray: 40 139;
  }
  .top-menu button .ham1 .bottom {
    stroke-dasharray: 40 180;
  }
  .top-menu button .ham2 .top {
    stroke-dasharray: 40 121;
  }
  .top-menu.active .ham1 .bottom {
    stroke-dashoffset: -138px;
  }
  .top-menu.active .ham1 .top {
    stroke-dashoffset: -98px;
  }
  .top-menu.active .hamRotate {
    transform: rotate(45deg);
  }
  .top-menu.active .hamRotate180 {
    transform: rotate(180deg);
  }
  .top-menu.active ul {
    @apply block;
  }
  .top-menu ul {
    @apply whitespace-nowrap
            lg:flex hidden justify-center gap-9;
  }
  .top-menu a {
    @apply border-b lg:border-b-2 lg:border-transparent border-black
            rounded-none lg:rounded
            transition
            duration-500
            block lg:inline-block
            mr-10 lg:m-0
            text-xl lg:text-base
            py-2 px-4 lg:px-1 lg:pb-[.2rem] lg:pt-0
            bg-neutral-800 lg:bg-transparent;
  }
  .top-menu a:hover,
  .top-menu a.active {
    @apply lg:border-stone-400
            bg-neutral-900 lg:bg-transparent;
  }
  .top-menu a:active {
    @apply bg-stone-400;
  }
  .portfolio {
    @apply flex
        flex-wrap
        lg:justify-between
        justify-center
        gap-4;
  }
  .portfolio > a {
    @apply w-[340px] relative;
  }
  .portfolio > a.wide {
    @apply w-[694px];
  }
  .portfolio > a > span {
    @apply text-whitetext
                text-4xl
                absolute
                top-1/2 -mt-[1.5rem]
                w-full
                text-center;
  }
  .process > div {
    @apply flex
            justify-between
            gap-8
            mb-8;
  }
  .process > div:last-child {
    @apply mb-0;
  }
  .process .process_icon svg {
    @apply w-12 h-12
                fill-neutral-400;
  }
  .process h3 {
    @apply text-2xl font-bold mb-1;
  }
  .process p {
    @apply text-neutral-400;
  }
  .advantage {
    @apply flex gap-8
        sm:items-end;
  }
  .advantage ol {
    @apply flex
            flex-col
            gap-8
            text-center
            text-base sm:text-xl
            text-neutral-400
            font-semibold;
    counter-reset: num;
  }
  .advantage ol li {
    counter-increment: num;
  }
  .advantage ol li:before {
    @apply block text-5xl font-normal;
    content: counter(num);
  }
  .advantage ol li:nth-child(-n+9):before {
    content: "0" counter(num);
  }
  .reviews {
    position: relative;
    overflow: hidden;
    /* enable Flickity by default */
  }
  @media screen and (max-width: 768px) {
    .reviews {
      overflow: auto;
    }
  }
  .reviews .carousel:after {
    content: "flickity";
    display: none; /* hide :after */
  }
  @media screen and (max-width: 768px) {
    .reviews {
      /* disable Flickity for large devices */
    }
    .reviews .carousel:after {
      content: "";
    }
  }
  .reviews .reviews_carousel {
    height: 362px;
    outline: none;
    color: #a3a3a3;
    @apply lg:h-[362px] h-[300px]
                lg:text-xl text-base;
  }
  @media screen and (max-width: 768px) {
    .reviews .reviews_carousel {
      height: 100%;
    }
  }
  .reviews .reviews_carousel .carousel-cell {
    width: 100%;
    margin-right: 3rem;
    background-color: #262626;
    display: flex;
    justify-content: space-between;
  }
  @media screen and (max-width: 768px) {
    .reviews .reviews_carousel .carousel-cell {
      flex-direction: column;
    }
  }
  .reviews .reviews_carousel .carousel-cell .avatar {
    flex-shrink: 0;
    @apply lg:self-start self-center;
  }
  .reviews .reviews_carousel .carousel-cell .avatar img {
    @apply lg:w-full md:w-[235px] w-full;
  }
  .reviews .reviews_carousel .carousel-cell .text {
    display: flex;
    flex-direction: column;
  }
  .reviews .reviews_carousel .carousel-cell .text p {
    @apply lg:px-8 px-4 lg:py-12 py-8;
    flex: 1;
  }
  .reviews .reviews_carousel .carousel-cell .text a.insta {
    padding: 1rem 0;
    display: inline-block;
    line-height: 24px;
    color: #e4e4e7;
    @apply md:ml-12 ml-4 md:mt-0 -mt-4 md:mb-0 mb-12;
  }
  .reviews .reviews_carousel .carousel-cell .text a.insta svg {
    width: 24px;
    height: 24px;
    float: left;
    margin-right: 1rem;
    fill: #a3a3a3;
  }
  .reviews .button-row {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 2rem;
  }
  @media screen and (max-width: 768px) {
    .reviews .button-row {
      display: none;
    }
  }
  .reviews .button-row .button-group {
    margin-top: -5px;
  }
  .reviews .button-row .button-group .button {
    width: 50px;
    height: 6px;
    cursor: pointer;
    background: #f0f0f0;
  }
  .reviews .button-row .button-group .button.is-selected {
    background-color: #a3a3a3;
  }
  .contacts {
    @apply flex md:flex-row flex-col md:items-start items-center;
  }
  .contacts p {
    @apply mb-8 md:text-2xl text-lg;
  }
  footer img {
    @apply w-[32px] lg:w-full;
  }
}